
body {
	background: url(https://i.imgur.com/OBJVB60.jpeg) no-repeat center;
	background-color: #2d1e0a;
	background-size: cover;
	--gold: url(https://i.imgur.com/XQUW5Ad.jpg);
	--pattern: url(https://i.imgur.com/tYl3xKT.png);
	--wood: url(https://i.imgur.com/8B8ZDAn.png);
}

img {
	width: 70px;
	filter: drop-shadow(0 0 2px #666);
}

.showCheck, .showHint {
	display: grid;
	place-items: center;
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #000d;
	color: #f2f2f2;
	z-index: 1;
}

.showCheck {
	transition: 3s ease;
}

.showCheck>video {
	width: 600px;
	max-width: 90vw;
	max-height: 60vh
}

h1 {
	animation: h1 .3s ease 5;
}

video {
	animation: video 2s ease 1;
}

@keyframes h1 {
	from {
		opacity: 0;
	}
}

@keyframes video {
	0% {
		transform: translatey(-100%);
		opacity: 0;
	}
	60% {
		opacity: 1;
	}
}

.showHint>img {
	width: initial;
	max-width: 90vw;
}


.container {
	display: grid;
	height: 100vh;
	place-items: center;	
}

.hexagon {
	--width: 820px;
	width: var(--width);
	aspect-ratio: 1/1;
	clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
	background: var(--wood) no-repeat center;
	background-size: cover;
	display: grid;
	place-items: center;
	position: relative;
	--circleSize: calc(var(--width) * .73);
	--circleGap: calc(var(--width) * 0.1525);
}

@media only screen and (min-width: 721px){.hexagon {--width: 620px}}
@media only screen and (max-width: 720px){.hexagon {--width: 620px}}
@media only screen and (max-width: 480px){.hexagon {--width: 440px}}
@media only screen and (max-width: 300px){.hexagon {--width: 260px}}

.hexagon:before, .hexagon:after {
	content: "";
	position: absolute;
	width: calc(var(--width) - 10%);
	background-color: saddlebrown;
	aspect-ratio: 1/1;
	clip-path: inherit;
	z-index: -1;
	mix-blend-mode: plus-lighter;
	backdrop-filter: grayscale(1);
}

.hexagon:before {
	width: 100%;
	mix-blend-mode: overlay;
}

.circle:before, .circle:after {
	content: "";
	width: 100%;
	aspect-ratio: 1/1;
	position: absolute;
	border-radius: 50%;
	background: var(--pattern) no-repeat center;
	background-size: var(--circleSize);
	mix-blend-mode: overlay;
	filter: blur(1px);
} 

.circle:after {
	filter: none;
}

.circle {
	position: absolute;
	display: grid;
	place-items: center;
	background: var(--gold) no-repeat center;
	background-size: var(--width);
	background-color: #bb7d19;
	aspect-ratio: 1/1;
	border-radius: 50%;
	border: 2px solid #0006;
	box-shadow: 0 0 5px #fff7, inset 0 0 5px #0007;
	width: calc(var(--circleSize) - var(--circleGap) * var(--gapMultiplier));
	cursor: pointer;
	transition: transform 1s ease-in-out;
	user-select: none;
	will-change: transform;
}

.circle:hover {
	filter: brightness(1.1);
}
.circle:not(.inner):hover:after {
	opacity: .5;
}

.circle.one{
	--gapMultiplier: 0;
	--hintDegree: -30deg;
	width: var(--circleSize);
	box-shadow: 0 0 5px #0007, inset 0 0 5px #0007;
}

.circle.two{--gapMultiplier: 1; --hintDegree: 30deg;}
.circle.three{--gapMultiplier: 2; --hintDegree: 75deg;}
.circle.four{--gapMultiplier: 3; --hintDegree: 30deg;}
.circle.inner{--gapMultiplier: 4; z-index: 1; --hintDegree: 0deg;}


.circle.inner:before {
	background: #000;
	box-shadow: inset 0 0 15px #000;
}

.circle.check {
	transition: 3s ease-in-out; 
}

.circle.check, .circle.check ~ .circle {
	animation: checkAni 3s 1;
}

@keyframes checkAni {
	to {
		box-shadow: none;
		border-color: transparent;
	} 
}



/* HINT */
.hinted .inner:hover:after, .hinted .inner:hover ~ .circle:after {
	--hintColor: #000;
	background: linear-gradient(calc(var(--hintDegree) + 90deg), transparent 49%, var(--hintColor), transparent 51%),
		linear-gradient(var(--hintDegree), transparent 49%, var(--hintColor), transparent 51%);
	opacity: calc(var(--gapMultiplier) * .05 + .8);
	transition: .3s ease-in-out;
	animation: hint 1s ease-in 1;
}

@keyframes hint {
	from {
		opacity: 0;
	}
}